 .today{
  background-color: #4ec47f!important;
}

.ctnFlex{
  display: flex;
  justify-content: space-between;
}

.calendarContent{
  width: 324px;
}

.batidainfo {
  position: relative;
  margin: 1px;
  border-radius: 16px;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -ms-flex-direction: row;
  flex-direction: row;
  -ms-flex-pack: distribute;
  justify-content: space-around;
  -ms-flex-align: center;
  align-items: center;
  overflow: hidden;
  background-color: white;
  color: black;
}

.boxBatidas {
  bottom: 3px;
  display: flex;
  justify-content: center;
  position: absolute;
  width: 74%;
}

.boxBatidas i{
  position: relative;
  left: 18px;
  top: -16px;
}

.batida {
  border: 1px solid;
  border-radius: 16px;
  color: #484848;
  height: 7px;
  margin: 0px;
  position: relative;
  width: 7px;
  bottom: 0px;
}

.prevista {
  opacity: 0.5;
}

.esqueceu {
  background-color: black;
  opacity: 0.5;
}

.registrado {
  background-color: orange;
  opacity: 0.5;
}

.espelho-batidas {
  line-height: 0;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}

.exibirHora {
  border-radius: 54px;
  height: 54px;
  width: 54px;
  margin: 4px;
}

.resumo{
  margin-left: 1.5rem;
  margin-right: 2vw;
  width: 248px;
}






.react-calendar {
border-radius: 4px;
/*width: 100%; 470px;*/
max-width: 100%;
background: white;
font: inherit;
line-height: 149%; /* 2.125em; */
border: 0;
overflow: hidden;
}
.react-calendar button {
margin: 0;
border: 0;
outline: none;
font: inherit;
font-size: 0.8em;
position: relative;
}
.react-calendar button:enabled:hover {
cursor: pointer;
}
.react-calendar--doubleView {
width: 700px;
}
.react-calendar--doubleView .react-calendar__viewContainer {
display: flex;
margin: -0.5em;
}
.react-calendar--doubleView .react-calendar__viewContainer > * {
width: 50%;
margin: 0.5em;
}
.react-calendar,
.react-calendar *,
.react-calendar *:before,
.react-calendar *:after {
-moz-box-sizing: border-box;
-webkit-box-sizing: border-box;
box-sizing: border-box;
}
.react-calendar__navigation {
display: flex;
height: 44px;
margin-bottom: 10px;
}
.react-calendar__navigation button {
min-width: 44px;
background: none;
}
.react-calendar__navigation button:enabled:hover,
.react-calendar__navigation button:enabled:focus {
background-color: #e6e6e6;
}
.react-calendar__navigation button[disabled] {
background-color: #f0f0f0;
}
.react-calendar__month-view__weekdays {
text-align: center;
text-transform: uppercase;
font-weight: bold;
font-size: 0.75em;
}
.react-calendar__month-view__weekdays__weekday {
padding: 0.5em;
}
.react-calendar__month-view__weekNumbers {
font-weight: bold;
}
.react-calendar__month-view__weekNumbers .react-calendar__tile {
display: flex;
align-items: center;
justify-content: center;
font-size: 0.75em;
padding: calc(0.75em / 0.75) calc(0.5em / 0.75);
}
.react-calendar__month-view__days__day--weekend {
color: #d10000;
}
.react-calendar__month-view__days__day--neighboringMonth {
color: #757575;
}
.react-calendar__year-view .react-calendar__tile,
.react-calendar__decade-view .react-calendar__tile,
.react-calendar__century-view .react-calendar__tile {
padding: 6%;
}
.react-calendar__tile {
max-width: 100%;
text-align: center;
padding: 0.75em 0.5em;
background: none;
}
.react-calendar__tile:disabled {
background-color: #f0f0f0;
}
.react-calendar__tile:enabled:hover,
.react-calendar__tile:enabled:focus {
background-color: #e6e6e6;
}
.react-calendar__tile--hasActive {
background: #76baff;
}
.react-calendar__tile--hasActive:enabled:hover,
.react-calendar__tile--hasActive:enabled:focus {
background: #a9d4ff;
}
.react-calendar__tile--active {
background: #006edc;
color: white;
}
.react-calendar__tile--active:enabled:hover,
.react-calendar__tile--active:enabled:focus {
background: #1087ff;
}
.react-calendar--selectRange .react-calendar__tile--hover {
background-color: #e6e6e6;
}




@media screen and (min-width: 784px) {

  .calendarContent {
    width: 470px;
  }
  .react-calendar__year-view .react-calendar__tile,
  .react-calendar__decade-view .react-calendar__tile,
  .react-calendar__century-view .react-calendar__tile {
    padding: 5%;
  }
  
  .boxBatidas{
    width: 80%;
    bottom: 8px;
  }

  .react-calendar {
    line-height: 250%;
  }
} 
